@charset "UTF-8";
/*paleta de colores*/
/*import*/
#servicios__cards__grid {
  display: grid;
  grid-template-areas: "card--a" "card--b" "card--c";
  grid-template-columns: 100%;
  row-gap: 3rem;
  margin-bottom: 2rem; }

#servicios__buttons__grid {
  display: grid;
  grid-template-areas: "button--a" "button--b" "button--c";
  grid-template-columns: 100%;
  row-gap: 3rem;
  margin-bottom: 2rem; }

.card__background {
  background: linear-gradient(to bottom, #324b3c, #6e8d7b); }

.card__header {
  text-align: center; }

.button--reset {
  background: none;
  border: none; }

.servicios__buttons__background {
  background: linear-gradient(to bottom, #324b3c, #6e8d7b);
  text-align: center;
  border-radius: 3.5rem;
  text-align: center;
  opacity: 80%; }

.servicios__buttons__border {
  border-bottom: 1rem;
  border-right: 1rem;
  border-color: #6d6c6b; }

.servicios__buttons__text {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 600;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  text-align: center; }

.servicios__buttons__background:hover {
  opacity: 100%;
  background: #324b3c;
  color: #ffffff; }

.servicios__buttons__text:hover {
  color: #ffffff; }

.article--actualidad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  width: 100%; }

.article__card__background__actualidad {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  opacity: 100%;
  background-color: #ffffff;
  width: 30%;
  box-shadow: 0.15rem 0.15rem 0.7rem #313131; }

.article--card--actualidad {
  position: relative;
  border: 1rem;
  border-color: black;
  align-content: stretch; }

#article__title_actualidad {
  margin: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Ubuntu', sans-serif;
  color: #49443f;
  text-shadow: 0.15rem 0.15rem 0.5rem #6d6c6b; }

.article__text__actualidad {
  color: #313131;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem; }

.section__rrss__actualidad {
  width: 100%; }

#rrssActualidad {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0rem;
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  justify-content: space-evenly;
  list-style: none; }

.img--box--size {
  height: 40%; }

.img--size--art-1 {
  width: 100%;
  height: 100%; }

.img--size--art-2 {
  width: 100%;
  height: 100%; }

.img--size--art-3 {
  width: 100%;
  height: 100%; }

.img--size--art-4 {
  width: 100%;
  height: 100%; }

.img--size--art-5 {
  width: 100%;
  height: 100%; }

.img--size--art-6 {
  width: 100%;
  height: 100%; }

@media (max-width: 970px) {
  .article__card__background__actualidad {
    width: 40%; }
  #rrssActualidad {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 3rem; } }

@media (max-width: 576px) {
  .article__card__background__actualidad {
    width: 900%; } }

#contentSection {
  display: grid;
  grid-template-areas: "article rrss" "article rrss" "article rrss" "none rrss";
  grid-template-columns: 75% 25%;
  align-items: flex-start;
  margin-top: 5rem; }

.article {
  grid-area: "article";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly; }

.article--transform {
  transition: all 0.5s; }

.article--transform:hover {
  transform: scale(1.2); }

.article__card__background {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  opacity: 100%;
  background-color: #ffffff;
  width: 40%;
  box-shadow: 0.15rem 0.15rem 0.7rem #313131; }

.article__card {
  position: relative;
  border: 1rem;
  border-color: black;
  align-content: stretch; }

.article__card h3 {
  margin: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Ubuntu', sans-serif;
  color: #49443f;
  text-shadow: 0.15rem 0.15rem 0.5rem #6d6c6b; }

.article__text {
  color: #313131;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem; }

#rrss {
  grid-area: "rrss";
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none; }

#card--text--decoration {
  text-decoration: none; }

.img--box--size--dest {
  height: 40%;
  width: 100%; }

.img--size--dest-1 {
  width: 100%;
  height: 100%; }

.img--size--dest-2 {
  width: 100%;
  height: 100%; }

.img--size--dest-3 {
  width: 100%;
  height: 100%; }

.img--size--dest-4 {
  width: 100%;
  height: 100%; }

.img--size--dest-5 {
  width: 100%;
  height: 100%; }

.img--size--dest-6 {
  width: 100%;
  height: 100%; }

@media (max-width: 576px) {
  .article {
    flex-direction: column;
    margin-top: 4rem; }
  .article__card__background {
    width: 80%; }
  .article--transform:hover {
    transform: scale(1.1); } }

@media (max-width: 840px) {
  #contentSection {
    display: grid;
    grid-template-areas: "article" "rrss";
    grid-template-columns: 100%; }
  .article--transform:hover {
    transform: scale(1.1); }
  #rrss {
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 3rem;
    margin-top: 4rem; } }

.quienesSomos__card {
  box-shadow: 0.3rem 0.3rem 2rem gray;
  margin-bottom: 1.5rem;
  background-color: #49443f; }

.quienesSomos__card ul, li {
  color: #ffffff; }

#quienesSomos--card--text--color {
  color: #ffffff; }

.quienesSomos__card h2 {
  padding: 2rem; }

.quienesSomos--resaltado--blanco {
  background-color: #ffffff;
  padding: 0.75rem;
  margin-top: 0.5rem;
  box-shadow: 0.15rem 0.15rem 0.7rem black; }

.quienesSomos__card p {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem; }

#quienesSomos__card__list {
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  color: #ffffff; }

#quienesSomos--card--img--size {
  height: 7rem;
  width: 7rem; }

.quienesSomos--text--style {
  background-color: #ffffff;
  color: #324b3c;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 500; }

.quienesSomos__list {
  list-style-type: none; }

.form__structure {
  font-size: 1.75rem;
  /* 20px */
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  width: 70%;
  margin: 0 auto; }

input,
textarea,
select {
  border: 0rem;
  outline: none; }

.form__box {
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem; }

.form__label__format {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 00.5rem;
  border-bottom: solid;
  border-width: 0.1rem;
  padding: 1rem;
  margin-bottom: 0.25rem;
  background-color: #324b3c;
  color: #ffffff; }

.form__input__format {
  width: 100%;
  border-width: 0.2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1rem; }

.password--border {
  border-bottom: solid;
  border-width: 0.1rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem; }

.btn-primary {
  background-color: #324b3c; }

.btn-primary:hover {
  background-color: #6e8d7b; }

.article-1__img {
  width: 100%;
  height: 100%; }

* {
  margin: 0px;
  padding: 0px; }

/* etiqueta raíz */
html {
  font-size: 62.5%;
  text-align: justify; }

header {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #324b3c; }

#img--slide--size {
  width: 100%; }

/*navbar hamburger mobile*/
.navbar {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  width: 100%;
  z-index: 100; }

.menu-activo {
  border-bottom: solid 0.5rem #ffffff; }

.backgroundColor {
  background-color: #49443f; }

.menu-display {
  display: flex;
  flex-direction: row; }

#displayNoneMenu {
  display: none; }

.aria-expanded {
  height: 11rem; }

.navbar-brand {
  font-weight: 800;
  font-size: 1.5rem; }

.dropdown-item {
  font-size: 1.6rem;
  font-weight: 600; }

.navbarOpacity {
  opacity: 70%; }

.navbar-brand {
  padding-right: 1rem; }

.navbar-toggler-icon {
  color: #ffffff; }

#colorMenu {
  color: #ffffff;
  padding-right: 5rem; }

/*carousel*/
.carousel {
  z-index: 1; }

p {
  font-size: 1.75rem;
  /* 20px */
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300; }

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  padding: 1.5rem;
  font-weight: 500;
  color: #637269;
  border-bottom: 1rem solid #637269;
  margin-bottom: 1.5rem; }

h2 {
  margin: 1.25rem 2.5rem 1.25rem 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #324b3c; }

h3 {
  margin: 1.25rem 2.5rem 1.25rem 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  color: #49443f; }

h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem; }

footer {
  text-align: center;
  font-size: 0.75rem;
  border-top: 1rem solid black;
  padding-top: 1rem;
  margin-top: 7rem;
  opacity: 75%; }

.italica {
  font-style: italic; }

/*mobile*/
@media (max-width: 576px) {
  html {
    font-size: 40%; } }

@media (max-width: 768px) {
  html {
    font-size: 50%; } }

@media (min-width: 992px) {
  #dispalyNoneMenu {
    display: none; }
  #menu--color {
    color: #ffffff; } }
