.quienesSomos__card {
    box-shadow      : 0.3rem 0.3rem 2rem gray;
    margin-bottom   : 1.5rem;
    background-color: $greyColor;
}

.quienesSomos__card ul,
li,
p {
    color: $whiteColor;
}

.quienesSomos__card h2 {
    padding: 2rem;
}

.quienesSomos--resaltado--blanco {
    background-color: $whiteColor;
    padding         : 0.75rem;
    margin-top      : 0.5rem;
    box-shadow: 0.15rem 0.15rem 0.7rem black;
}

.quienesSomos__card p {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;

}

.quienesSomos--text--style {
    background-color: $whiteColor;
    color           : $greenColor;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 500;
}

.quienesSomos__list {
    list-style-type    : none;
}